<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/suggestion}" sec:authorize="hasRole('ROLE_ADMIN')">Suggestion</a></li>
                        <li><a href="#" th:href="@{/diffndays}" sec:authorize="hasRole('ROLE_ADMIN')">Diff N Days</a></li>
                        <li><a href="#" th:href="@{/trade/stocks}" sec:authorize="hasRole('ROLE_ADMIN')">Stocks</a></li>
                        <li><a href="#" th:href="@{/trade/stock/new}" sec:authorize="hasRole('ROLE_ADMIN')">Add Stock</a></li>
                        <li><a href="#" th:href="@{/trade/orders}" sec:authorize="hasRole('ROLE_ADMIN')">Orders</a></li>
                        <li><a href="#" th:href="@{/trade/order/new}" sec:authorize="hasRole('ROLE_ADMIN')">Add Order</a></li>
                        <li><a href="#" th:href="@{/reload}" sec:authorize="hasRole('ROLE_ADMIN')">Reload Price</a></li>
                        <li><a href="#" th:href="@{/trade/analysis/new}" sec:authorize="hasRole('ROLE_ADMIN')">Add Analysis</a></li>
                        <li><a href="#" th:href="@{/trade/durations}" sec:authorize="hasRole('ROLE_ADMIN')">Analysis Duration</a></li>
                        <li sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/login}">Login</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/logout}">Logout</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>