<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Stock Prices</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Stock Details: [[${stock.symbol}]] : [[${stock.name}]]</h2>

    <div th:if="${not #lists.isEmpty(stockPriceHistories)}">
        <h3>Stock Price Diff Each Day</h3>
        <table class="table table-striped">
            <tr>
                <th>20</th>
                <th>19</th>
                <th>18</th>
                <th>17</th>
                <th>16</th>
                <th>15</th>
                <th>14</th>
                <th>13</th>
                <th>12</th>
                <th>11</th>
                <th>10</th>
                <th>9</th>
                <th>8</th>
                <th>7</th>
                <th>6</th>
                <th>5</th>
                <th>4</th>
                <th>3</th>
                <th>2</th>
                <th>1day</th>
                <th>%Diff</th>
                <th>Current</th>
                <th>Symbol</th>
            </tr>
            <tr th:each="stock : ${stockPriceHistories}">
                <td th:style="${stock.diff20 > 0? 'background:green;color: white':stock.diff20 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff20, 1, 2)}"></td>
                <td th:style="${stock.diff19 > 0? 'background:green;color: white':stock.diff19 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff19, 1, 2)}"></td>
                <td th:style="${stock.diff18 > 0? 'background:green;color: white':stock.diff18 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff18, 1, 2)}"></td>
                <td th:style="${stock.diff17 > 0? 'background:green;color: white':stock.diff17 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff17, 1, 2)}"></td>
                <td th:style="${stock.diff16 > 0? 'background:green;color: white':stock.diff16 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff16, 1, 2)}"></td>
                <td th:style="${stock.diff15 > 0? 'background:green;color: white':stock.diff15 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff15, 1, 2)}"></td>
                <td th:style="${stock.diff14 > 0? 'background:green;color: white':stock.diff14 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff14, 1, 2)}"></td>
                <td th:style="${stock.diff13 > 0? 'background:green;color: white':stock.diff13 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff13, 1, 2)}"></td>
                <td th:style="${stock.diff12 > 0? 'background:green;color: white':stock.diff12 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff12, 1, 2)}"></td>
                <td th:style="${stock.diff11 > 0? 'background:green;color: white':stock.diff11 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff11, 1, 2)}"></td>
                <td th:style="${stock.diff10 > 0? 'background:green;color: white':stock.diff10 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff10, 1, 2)}"></td>
                <td th:style="${stock.diff9 > 0? 'background:green;color: white':stock.diff9 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff9, 1, 2)}"></td>
                <td th:style="${stock.diff8 > 0? 'background:green;color: white':stock.diff8 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff8, 1, 2)}"></td>
                <td th:style="${stock.diff7 > 0? 'background:green;color: white':stock.diff7 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff7, 1, 2)}"></td>
                <td th:style="${stock.diff6 > 0? 'background:green;color: white':stock.diff6 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff6, 1, 2)}"></td>
                <td th:style="${stock.diff5 > 0? 'background:green;color: white':stock.diff5 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff5, 1, 2)}"></td>
                <td th:style="${stock.diff4 > 0? 'background:green;color: white':stock.diff4 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff4, 1, 2)}"></td>
                <td th:style="${stock.diff3 > 0? 'background:green;color: white':stock.diff3 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff3, 1, 2)}"></td>
                <td th:style="${stock.diff2 > 0? 'background:green;color: white':stock.diff2 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff2, 1, 2)}"></td>
                <td th:style="${stock.diff1 > 0? 'background:green;color: white':stock.diff1 == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff1, 1, 2)}"></td>
                <td th:text="${#numbers.formatDecimal(stock.getNegativeAmount(), 1, 2)}"></td>
                <td th:text="${#numbers.formatDecimal(stock.currPrice, 1, 2)}"></td>
                <td th:text="${stock.symbol}"></td>
            </tr>
        </table>
    </div>

    <div th:if="${not #lists.isEmpty(stockPriceDiffNDays)}">
        <h3>Stock Price Diff N Days</h3>
        <table class="table table-striped">
            <tr>
                <th>100 days</th>
                <th>90 days</th>
                <th>80 days</th>
                <th>70 days</th>
                <th>60 days</th>
                <th>50 days</th>
                <th>40 days</th>
                <th>30 days</th>
                <th>20 days</th>
                <th>15 days</th>
                <th>10 days</th>
                <th>5 days</th>
                <th>4 days</th>
                <th>3 days</th>
                <th>2 days</th>
                <th>1 day</th>
                <th>Current</th>
                <th>Symbol</th>
            </tr>
            <tr th:each="stock : ${stockPriceDiffNDays}">
                <td th:style="${stock.diff100days > 0? 'background:green;color: white':stock.diff100days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff100days, 1, 2)}"></td>
                <td th:style="${stock.diff90days > 0? 'background:green;color: white':stock.diff90days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff90days, 1, 2)}"></td>
                <td th:style="${stock.diff80days > 0? 'background:green;color: white':stock.diff80days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff80days, 1, 2)}"></td>
                <td th:style="${stock.diff70days > 0? 'background:green;color: white':stock.diff70days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff70days, 1, 2)}"></td>
                <td th:style="${stock.diff60days > 0? 'background:green;color: white':stock.diff60days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff60days, 1, 2)}"></td>
                <td th:style="${stock.diff50days > 0? 'background:green;color: white':stock.diff50days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff50days, 1, 2)}"></td>
                <td th:style="${stock.diff40days > 0? 'background:green;color: white':stock.diff40days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff40days, 1, 2)}"></td>
                <td th:style="${stock.diff30days > 0? 'background:green;color: white':stock.diff30days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff30days, 1, 2)}"></td>
                <td th:style="${stock.diff20days > 0? 'background:green;color: white':stock.diff20days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff20days, 1, 2)}"></td>
                <td th:style="${stock.diff15days > 0? 'background:green;color: white':stock.diff15days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff15days, 1, 2)}"></td>
                <td th:style="${stock.diff10days > 0? 'background:green;color: white':stock.diff10days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff10days, 1, 2)}"></td>
                <td th:style="${stock.diff5days > 0? 'background:green;color: white':stock.diff5days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff5days, 1, 2)}"></td>
                <td th:style="${stock.diff4days > 0? 'background:green;color: white':stock.diff4days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff4days, 1, 2)}"></td>
                <td th:style="${stock.diff3days > 0? 'background:green;color: white':stock.diff3days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff3days, 1, 2)}"></td>
                <td th:style="${stock.diff2days > 0? 'background:green;color: white':stock.diff2days == 0? 'background:blue;color: white':'background:red;color: white' }" th:text="${#numbers.formatDecimal(stock.diff2days, 1, 2)}"></td>
                <td th:style="${stock.diff1day > 0? 'background:green;color: white':stock.diff1day == 0? 'background:blue;color: white':'background:red;color: white'}"  th:text="${#numbers.formatDecimal(stock.diff1day, 1, 2)}"></td>
                <td th:text="${#numbers.formatDecimal(stock.currPrice, 1, 2)}"></td>
                <td th:text="${stock.symbol}"></td>
            </tr>
        </table>

    <div><a th:href="@{''(symbol=${param.symbol},duration=365)}">1 Year</a> | <a th:href="'/trade/stock/reload/'+${param.symbol}">Reload</a></div>
    <div>
        <canvas id="canvas"> </canvas>
    </div>
    <script>

        var items = [];

        /*[# th:each="n : ${days}"]*/
        items.push("[(${n})]");
        /*[/]*/

        var config = {
            type: 'line',
            data: {
                labels: [[${days}]],
                datasets: [{
                    label: "Stock chart last 100 days",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [[${prices}]],
                    fill: false
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Stock Chart'
                },
//                tooltips: {
//                    mode: 'index',
//                    intersect: false
//                },
//                hover: {
//                    mode: 'nearest',
//                    intersect: true
//                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Days'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Price'
                        }
                    }]
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };

    </script>
</div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>